

<style>
    td{
    border-style:ridge; 
    text-align: center;
  }
  table{
    margin: auto;
    margin-top: 35px;
    margin-bottom: 25px;
  }
  .trhead{
    background-color: black;
    color: white;
  }
  h1{
    text-align: center;
  }
  </style>
  
  <form #studentsForm="ngForm" (ngSubmit)="getAttendanceFromData(studentsForm.value)">
  <h1>Update Attendance Details</h1>
  
  <table>
    <tr class="trhead">
        <td>ID</td>
        <td>Name</td>
        <td>Session</td>
        <td>Semester </td>
        <td>Subject ID </td>
        <td>Cource</td>
        <td>Date</td>
        <td>Time</td>
        <td>Update </td>
  
  
  
    </tr>
    <tr >
        
        <td><input type="number" ngModel name="id"class="form-input" placeholder="Roll"
          required="required" /></td>
          <td><input type="text" ngModel name="name"class="form-input" placeholder="Name"
            required="required" /></td>
        <td><input type="text" ngModel name="session"class="form-input" placeholder="Session"
          required="required" /></td>
        <td><input type="text" ngModel name="semester"class="form-input" placeholder="Semester"
          required="required" /></td>
        <td><input type="text" ngModel name="subject_Id"class="form-input" placeholder="Subject ID"
          required="required" /></td>
        <td><input type="text" ngModel name="cource"class="form-input" placeholder="Cource"
          required="required" /></td>
        <td><input type="date" ngModel name="date"class="form-input" placeholder="Date"
          required="required" /></td>
        <td><input type="text" ngModel name="time"class="form-input" placeholder="Time"
          required="required" /></td>
        <td><button>Update</button></td>
        
        
       
    </tr>
    
  
  </table>


  </form>
  <h1>Attendance List</h1>

<table>
  <tr class="trhead">
      <td>Roll</td>
      <td>Name</td>
      <td>Session</td>
      <td>Semester </td>
      <td>Subject ID </td>
      <td>Cource</td>
      <td>Date</td>
      <td>Time</td>
      <!-- <td>Status</td> -->
      



  </tr>
  <tr *ngFor="let attendance of attendances">
      
      <td>{{attendance.id}}</td>
      <td>{{attendance.name}}</td>
      <td>{{attendance.session}}</td>
      <td>{{attendance.semester}}</td>
      <td>{{attendance.subject_Id}}</td>
      <td>{{attendance.cource}}</td>
      <td>{{attendance.date}}</td>
      <td>{{attendance.time}}</td>
      <!-- <td>{{attendance.takeAttendance}}</td> -->
      
      
      
     
  </tr>
  

</table>
  