
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        background: linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
        position: relative;
        font-family: roboto, sans-serif;
    }


    .navbar {
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 4%;
        background: #0c111b;
        z-index: 9;
        display: flex;
        align-items: center;
        /* color: white; */

    }

    .pre {
        color: whitesmoke;
        font-size: 25px;
        margin: auto;
    }

    .des-logo {
        height: 70px;
    }

    .nav-links {
        margin-top: 10px;
        display: flex;
        list-style: none;
    }

    .nav-items a {
        text-decoration: none;
        margin-left: 20px;
        text-transform: capitalize;
        color: #fff;
        opacity: 0.9;
    }

    .right-container {
        display: block;
        margin-left: auto;
    }

    .search-box {
        border: none;
        border-bottom: 1px solid #aaa;
        background: transparent;
        outline: none;
        height: 30px;
        color: #fff;
        width: 250px;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        transition: 0.5s;
    }

    .search-box:focus {
        width: 250px;
        border-color: #1f80e0;
    }

    .sub-btn {
        background: #1f80e0;
        height: 30px;
        padding: 0 20px;
        color: #fff;
        border-radius: 5px;
        border: none;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        margin: 0 10px;
    }

    .login-link {
        color: #fff;
        opacity: 0.9;
        /* text-transform: uppercase; */
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
    }

    .carousel-container {
        position: relative;
        width: 100%;
        height: 150px;
        padding: 20px 0;
        overflow-x: hidden;
        margin-top: 80px;

    }

    .carousel {
        display: flex;
        width: 92%;
        height: 100%;
        position: relative;
        margin: auto;
    }

    .slider {
        flex: 0 0 auto;
        margin-right: 30px;
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        width: 100%;
        height: 100%;
        left: 0;
        transition: 1s;
        overflow: hidden;
    }

    .slider-img {
        flex: 0 0 auto;
        position: relative;
        width: 70%;
        min-height: 100%;
        object-fit: cover;
        display: block;
        margin-left: auto;
        transition: 1s;
        overflow: hidden;
    }

    .slide-content {
        position: absolute;
        width: 50%;
        height: 100%;
        z-index: 2;
        background: linear-gradient(to right, #030b17 80%, #0c111b00);
        color: #fff;
    }

    .AMS-des {
        width: 80%;
        line-height: 30px;
        padding-left: 50px;
        margin-top: 30px;
        opacity: 0.8;
    }

    .des-container {
        position: relative;
        width: 92%;
        margin: auto;
        height: 10vw;
        display: flex;
        margin-bottom: 20px;
        margin-top: 30px;
        justify-content: space-between;
    }

    .des-card {

        min-width: calc(100% / 5 - 10px);
        width: 100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        background: yellow;
        align-items: center;
        text-align: center;


    }

    /* pre{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 22px;
  } */

    .title {
        color: #fff;
        opacity: 0.9;
        padding-left: 4%;
        text-transform: capitalize;
        font-size: 22px;
        font-weight: 500;
        margin-top: 40px;
        font-family: 'Times New Roman', Times, serif;
    }


    .des-list {
        width: 100%;
        height: 220px;
        position: relative;
        margin: 10px 0 20px;
    }

    .card-container {
        position: relative;
        width: 92%;
        padding-left: 10px;
        height: 200px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        overflow-x: auto;
        overflow-y: visible;
        scroll-behavior: smooth;
    }

    

    .name {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 10%;
        text-align: center;
    }


    .des {
        color: #fff;
        opacity: 0.8;
        margin: 5px 0;
        font-weight: 500;
        font-size: 12px;
    }

    

    
    </style>

<body>
    <nav class="navbar">
        <img src="images/logo.png" class="des-logo" alt="" />
        <ul class="nav-links">
            <li class="nav-items" routerLinkActive="active"><a routerLink="./home">Home</a></li>
            <li class="nav-items" routerLinkActive="active"><a routerLink="./about">About</a></li>
            <li class="nav-items" routerLinkActive="active"><a routerLink="./dashboard">Dashboard</a></li>
            <li class="nav-items" routerLinkActive="active"><a routerLink="./updatestudent">Student</a></li>
            <li class="nav-items" routerLinkActive="active"><a routerLink="./updateteacher">Teacher</a></li>
            <li class="nav-items" routerLinkActive="active"><a routerLink="./createattendance">Attendance</a></li>
            <li class="nav-items" routerLinkActive="active"><a routerLink="./contact">Contact</a></li>

        </ul>

        <div class="right-container">
            <input type="text" class="search-box" placeholder="search" />
            <button class="sub-btn">Search</button>
            <a routerLink="../home" class="login-link">logout </a>
        </div>
    </nav>

    
    

</body>